<div class="blog">
  <ul class="blog_items">
  {% for item in data %}
    <li class="blog_item">
      <h4 class="blog_title"><a href="{{item.post_url}}" class="common common_link"><span class="common_link_text">{{item.summary}}</span></a></h4>
      {% if item.type=='photo' %}
        {% for photo in item.photos %}
          <span class="blog_photo" style="padding-bottom: {{photo.original_size.height / photo.original_size.width * 100}}%;">
            <img class="blog_photo_img" src="{{ photo.original_size.url }}"/>
          </span>
        {% endfor %}
      {% elseif item.type=='quote' %}
      <blockquote>{{item.text}} <em>{{item.source}}</em></blockquote>
      {% else %}
      {% for image in item.image %}<img src="{{image}}"/>{% endfor %}
      <div class="blog_body">{{item.bodyCleaned|raw}}</div>
      {% endif %}
      <div class="blog_date">{{item.timestamp|date("d. M Y H:i","Europe/Paris")}}</div>
    </li>
  {% endfor %}
  </ul>
</div>